{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p class="flash {{ category }}">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
<h2 style="text-align:center;">Contact Messages</h2>

<table class="msg-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for m in messages %}
    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.message }}</td>
        <td>{{ m.created_at }}</td>
        <td>
            <a href="/admin/messages/delete/{{ m.id }}" class="delete-btn">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
