{% extends "base.html" %}
{% block content %}

<section class="hero">
    <img src="{{ url_for('static', filename='img/profile.jpg') }}" class="profile-img">
    <h1>Hello, I'm <span class="highlight">Laurence Simon</span></h1>
    <p>Python Developer • Flask • MySQL • Backend Developer</p>
</section>

<section class="skills">
    <h2>Skills</h2>
    <div class="skill-list">
        <div class="skill">Python</div>
        <div class="skill">Flask</div>
        <div class="skill">MySQL</div>
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">JavaScript</div>
    </div>
</section>

{% endblock %}
